name: release

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  deploy:
    environment: prod
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      KUBECONFIG: /tmp/kubeconfig

    steps:
      - name: Set up Go
        uses: actions/setup-go@v2.1.4
        with:
          go-version: 1.17

      - name: Get Go environment
        id: go-env
        run: |
          echo "::set-output name=cache::$(go env GOCACHE)"
          echo "::set-output name=modcache::$(go env GOMODCACHE)"

      - name: Set up Go Cache
        uses: actions/cache@v2.1.7
        with:
          path: |
            ${{ steps.go-env.outputs.cache }}
            ${{ steps.go-env.outputs.modcache }}
          key: release-${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            release-${{ runner.os }}-go-

      - name: Checkout
        uses: actions/checkout@v2

      - name: Docker log in
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Image metadata
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=edge,branch=main
            type=sha

      - name: Go build
        env:
          CGO_ENABLED: 0
        run: go build -v ./cmd/bot

      - name: Image build
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Get short commit SHA
        id: var
        shell: bash
        run: |
          echo "::set-output name=sha::$(git rev-parse --short HEAD)"

      - name: Generate deployment with SHA version
        run: sed 's/bot:main/bot:sha-${{ steps.var.outputs.sha }}/g' deployment.yml > deployment.release.yml

      - name: Set up kubectl cache
        uses: actions/cache@v2.1.6
        with:
          path: ~/kubectl
          key: kubectl

      - name: Check kubectl
        id: "kubectl"
        uses: andstor/file-existence-action@v1
        with:
          files: ~/kubectl

      - name: Download kubectl
        if: steps.kubectl.outputs.files_exists != 'true'
        run: |
          wget -O ~/kubectl "https://dl.k8s.io/release/v1.22.4/bin/linux/amd64/kubectl"
          chmod +x ~/kubectl

      - name: Setup kubeconfig
        env:
          KUBECONFIG_GPG_PASS: ${{ secrets.KUBECONFIG_GPG_PASS }}
        run: ./kubeconfig.sh

      - name: Deploy
        run: |
          - ./kubectl apply -f deployment.release.yml
          - ./kubectl rollout status deployment/bot
